#fontes{
font-style: normal;
font-size: 18px;

}

#navbar{
    opacity: 0.9;
    background-color: #c9c6c6a8;
}

#titulo-site{
    color: #594BEB;
}

a.nav-link:hover{
    text-align: center;
    background-color: #654597;
    border-radius: 1rem;
    width:auto;
}

a.nav-link{
    color: #fff;
}

span.navbar-text{
    color:#594BEB;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(89,75,235, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }


#sobremim{
    margin: 0 auto;
}

#portfolio{
    padding-top:10px;
}

/* #text_sobremim{
    padding-top:20px;
} */



#botao-vermais{
    border-radius: 2%x;
    background-color: #654597;
    color:#fff;

}

.card-img-top{
    max-height: ;
}

.pslide{
    font-style: normal;
    color:black;
    background-color: #fff;
    opacity: 0.8;
}

#footer{
    opacity: 0.9;
    background-color: #c9c6c6a8;
}


